MODE=private
PREFIXES=/
PORT=3000
SESSION=

TZ=Africa/Nairobi

ANTICALL=on
ANTIDELETE=on
ANTIEDIT=on

AUTO_READ=on
AUTO_VIEW=on
AUTO_LIKE=on

DM_PRESENCE=typing
GRP_PRESENCE=online

USER_LID=

OWNER_NUMBER=
OWNER_NAME=
